#body {
    background-image: url("../img/background.jpg");
    background-size: 100%;
}

#whosPlaying, #reset {
    text-align: center;
    padding-top : 40px;
}

#game {
    position: relative;
    justify-content: center;
}

#resultat {
    display: none;
    z-index: 2;
    width: 400px;
    margin: auto;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    box-shadow: 4px -4px 5px grey;
    padding: 10px;
    background: white;
}

#resultat #close {
    border: none;
    font-size: 2rem; 
    padding-right: 15px;
}

#resultat p {
    padding: 20px 0 0 15px;
    text-align: center;
}

p {
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
}

#score {
    top: 120px;
}

#score span {
    font-size: 3rem;
    color: white;
    /* padding-top: 50px; */
}

#reset button {
    font-family: 'Teko', sans-serif;
    background-color: #65499c;
    color: white;
    border-color: #65499c;
    font-size: 2.4em;
    margin: 0 30px;

}

#reset .bouton:hover {
    background-color: #8d74be;
    border-color: #8d74be;
}

#boxes .animation {
    text-align: center;
    width: 150px;
    height: 150px;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.7);
}

#boxes .animation:hover {
    background-color: rgba(255, 255, 255, 0);
}

#boxes .row {
    justify-content: center;
}

#score .row {
    justify-content: flex-start;
}


@-webkit-keyframes kf_scale {
    0% {
      -webkit-transform: scale(0) rotate(360deg);
    }
    100% {
      -webkit-transform: scale(1) rotate(-360deg);
    }
}

@media screen and (max-width: 990px) {

    #score {
        top: 20px;
        text-align: center;
    }

    #whosPlaying {
        padding-top: 20px;
    }
    
    #reset {
        padding-top : 30px;
    }
    
}

@media screen and (max-width: 550px) {

    #boxes .animation {
        width: 100px;
        height: 100px;

    }

    #resultat {
        width: 350px;
    }

    #whosPlaying, #reset {
        padding-top : 60px;
    }

    #reset .bouton {
        font-size: 1.5em;
    }

    #score img {
        width: 80px;
        height: 80px;
    }
    
}

@media screen and (max-width: 270px) {

    #boxes .animation {
        width: 25px;
        height: 25px;

    }

    #resultat {
        width: 300px;
    }

    #whosPlaying {
        padding-top : 60px;
    }

    #reset {
        padding-top: 30px;
    }
    
    #whosPlaying p {
        font-family: 'Teko', sans-serif;
        font-size: 1rem;
    }    

    #whosPlaying img {
        width: 20px;
    }

    #reset .bouton {
        font-size: 1em;
    }

    #score img {
        width: 50px;
        height: 50px;
    }
}
