html, body {
    margin: 0;
    height: 100%;
}

body {
    background: url("../img/background4.png") no-repeat;
    background-size: cover;
}

p {
    font-family: 'Teko', sans-serif;
    font-size: 3rem;
}

img {
    vertical-align: bottom;
}

#whosPlaying, #boxes, #score, #reset {
    visibility: hidden;
}

#whosPlaying, #reset {
    text-align: center;
    padding-top : 40px;
}

#player {
    width: 60px;
}

#game {
    position: relative;
    justify-content: center;
}

.ligne {
    flex-wrap: nowrap !important;
}

.box {
    width: 80%;
}

#whosPlaying {
    position: absolute;
}

#format .row {
    text-align: center;
    padding-left: 180px;
    padding-top: 140px;
}

#format button {
    font-family: 'Teko', sans-serif;
    background-color: #74254d;
    color: white;
    border-color: #74254d;
    font-size: 2.3em;
}

#format .bouton2 {
    margin-top: 30px;
}

#format button:hover {
    background-color: #ad3873;
    border-color: #ad3873;
}

#score .row {
    padding-top: 120px;
    justify-content: flex-start; 
}

#score span {
    font-size: 3rem;
    color: white;
}

.imgScore {
    width: 25%;
}

#boxes, #format, #score {
    top: 130px;
}

#boxes .animation {
    text-align: center;
    width: 140px;
    height: 140px;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.7);
}

#boxes .animation:hover {
    background-color: rgba(255, 255, 255, 0);
}

#boxes .row {
    justify-content: center;
}

#gameName {
    position: absolute;
    top: 270px;
}

#gameName p {
    color: white;
    font-size: 7rem;
    animation : animName 0.7s;
    -webkit-animation : animName 0.7s;
}

#resultat {
    display: none;
    z-index: 2;
    width: 400px;
    margin: auto;
    position: absolute;
    top: 270px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    box-shadow: 4px -4px 5px grey;
    padding: 10px;
    background: white;
}

#resultat p {
    padding: 20px 0 0 15px;
    text-align: center;
}

#resultatP1, #resultatP2  {
    display: inline-block;
}

#resultat #close {
    border: none;
    font-size: 2rem; 
    padding-right: 15px;
}

#reset {
    padding-top: 160px;
}

#reset .bouton {
    font-family: 'Teko', sans-serif;
    background-color: #65499c;
    color: white;
    border-color: #65499c;
    font-size: 2.4em;
    margin: 0 30px;

}

#reset .bouton:hover {
    background-color: #8d74be;
    border-color: #8d74be;
}

@keyframes kf_scale {
    0% {
      -webkit-transform: scale(0) rotate(360deg);
    }
    100% {
      -webkit-transform: scale(1) rotate(-360deg);
    }
}

@-webkit-keyframes kf_scale {
    0% {
      -webkit-transform: scale(0) rotate(360deg);
    }
    100% {
      -webkit-transform: scale(1) rotate(-360deg);
    }
}

@keyframes unzoom {
    0% {
      -webkit-transform: scale(6);
    }
    100% {
      -webkit-transform: scale(1);
    }
}

@-webkit-keyframes unzoom {
    0% {
      -webkit-transform: scale(6);
    }
    100% {
      -webkit-transform: scale(1);
    }
}

@keyframes animName {
    0% {
      -webkit-transform: scale(3);
    }
    100% {
      -webkit-transform: scale(1);
    }
}

@-webkit-keyframes animName {
    0% {
      -webkit-transform: scale(3);
    }
    100% {
      -webkit-transform: scale(1);
    }
}

@media screen and (max-width: 1522px) {

    #format .row {
        text-align: center;
        padding-top: 140px;
        padding-left: 100px;
    }
    
}

@media screen and (max-width: 991px) {

    #boxes, #format, #score {
        top: 0px;
    }

    #whosPlaying {
        padding-top: 20px;
    }

    #format .row {
        justify-content: flex-end;
        padding: 20px 0 30px 0;
    }

    #format button {
        font-size: 1.7em;
    }

    #format .bouton2 {
        margin-top: 0;
    }

    #score .row {
        padding-top: 50px;
        top: 5px;
        text-align: center;
    }

    .imgScore {
        width: 40%;
    }

    #score span {
        font-size: 4rem;
    }
    
    #reset {
        padding-top : 20px;
    }
    
}

@media screen and (max-width: 575px) {
    
    .imgScore {
        width: 20%;
    }

    #resultat {
        width: 350px;
    }

    #format button {
        font-size: 1.5em;
    }

    #reset .bouton {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 400px) {

    #gameName p {
        font-size: 4rem;
    }
}

@media screen and (max-width: 270px) {

    #gameName p {
        font-size: 3rem;
    }

    .imgScore {
        width: 40%;
    }

    #resultat {
        width: 300px;
    }
    
    #whosPlaying p {
        font-family: 'Teko', sans-serif;
        font-size: 2.4rem;
    }    

    #reset .bouton {
        margin-top: 30px;
        font-size: 2em;
    }
}
