#body {
    background-image: url("../img/background.jpg");
    background-size: 100rem;
}

#whosPlaying, #reset {
    text-align: center;
    padding-top : 40px;
}

#game {
    position: relative;
    justify-content: center;
}

#resultat {
    display: none;
    z-index: 2;
    width: 400px;
    margin: auto;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    box-shadow: 4px -4px 5px grey;
    padding: 10px;
    background: white;
}

#resultat #close {
    border: none;
    font-size: 2rem; 
    padding-right: 15px;
}

#resultat p {
    padding: 20px 0 0 15px;
    text-align: center;
}

p {
    font-family: 'Teko', sans-serif;
    font-size: 2.4rem;
}

#reset .bouton {
    font-family: 'Teko', sans-serif;
    background-color: #65499c;
    color: white;
    border-color: #65499c;
    font-size: 2.4em;
    -webkit-animation: rotating 0.5s linear;
    animation-iteration-count: 3;
    animation: zoominoutsinglefeatured 1.5s forwards;

}

#reset .bouton:hover {
    background-color: #8d74be;
    border-color: #8d74be;
}

.row div {
    text-align: center;
    width: 150px;
    height: 150px;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.7);
}

#game .row {
    justify-content: center;
}


@-webkit-keyframes kf_scale {
    0% {
      -webkit-transform: scale(0) rotate(360deg);
    }
    100% {
      -webkit-transform: scale(1) rotate(-360deg);
    }
  }